<a href="https://colab.research.google.com/github/dioapw/TUBES_STATISTIKA_DATA/blob/main/TUBES_STATISTIKA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TUBES STATISTIKA**

Deskripsi masalah tentang data : (https://www.kaggle.com/sakshigoyal7/credit-card-customers)

Manager suatu bank ingin mendapat gambaran tentang karakteristik pemegang kartu kredit yang mereka terbitkan, berdasarkan data berisi fitur-fitur pemegang kartu kredit (kolom A-U) dan peluang pemegang kartu kredit berpindah ke bank lain (kolom V dan W). 

Sekarang, kumpulan data ini terdiri dari 10.000 pelanggan yang menyebutkan usia, gaji, status_kawinan, batas kartu kredit, kategori kartu kredit, dll. Ada hampir 18 fitur.

Lakukan eksplorasi menggunakan metode yang sudah dipelajari untuk mendapatkan informasi yang akan anda presentasikan kepada manager bank.

Anggota Kelompok:
*   Dio Aditya Putra Wardhono (1301194290)
*   Yusril Ramadhan (1301194075)
*   Rafly Ahmad Yanuar (1301194119)
*   List item

## **Memuat File CSV**

Import Library

In [ ]:
library (readr)

Muat file CSV dari GitHub repository

In [ ]:
dataset_urlfile ="https://raw.githubusercontent.com/dioapw/TUBES_STATISTIKA_DATA/main/BankChurners.csv"

Muat file CSV ke variabel "bank_data"

In [ ]:
bank_data <- read.csv(url(dataset_urlfile))

## **Penjelasan Tentang Dataset**

*Sebelum kita melakukan eksplorasi dari dataset ini serta menganalisisnya, kita akan mencari tahu lebih dalam mengenai data-data yang ada di dataset ini.*

**1. Menampilkan jumlah kolom dalam dataset**

*Pertama, kita akan melihat berapa jumlah kolom dalam dataset ini.*

In [ ]:
ncol(bank_data)

[1] 23

**2. Menampilkan jumlah baris dalam dataset**

*Kedua, kita akan melihat berapa jumlah baris yang ada di dataset ini.*

In [11]:
nrow(bank_data)

[1] 10127

**3. Daftar nama variabel dalam dataset**

*Ketiga, kita akan mencari tahu nama-nama variabel yang ada di dataset ini.*

In [12]:
names(bank_data)

 [1] "CLIENTNUM"
 [2] "Attrition_Flag"
 [3] "Customer_Age"
 [4] "Gender"
 [5] "Dependent_count"
 [6] "Education_Level"
 [7] "Marital_Status"
 [8] "Income_Category"
 [9] "Card_Category"
[10] "Months_on_book"
[11] "Total_Relationship_Count"
[12] "Months_Inactive_12_mon"
[13] "Contacts_Count_12_mon"
[14] "Credit_Limit"
[15] "Total_Revolving_Bal"
[16] "Avg_Open_To_Buy"
[17] "Total_Amt_Chng_Q4_Q1"
[18] "Total_Trans_Amt"
[19] "Total_Trans_Ct"
[20] "Total_Ct_Chng_Q4_Q1"
[21] "Avg_Utilization_Ratio"
[22] "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1"
[23] "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2"

**4. Menampilkan struktur dataset**

*Keempat, kita akan mencari tahu bagaimana struktur data dalam dataset ini.*

In [13]:
str(bank_data)

'data.frame':	10127 obs. of  23 variables:
 $ CLIENTNUM                                                                                                                         : int  768805383 818770008 713982108 769911858 709106358 713061558 810347208 818906208 710930508 719661558 ...
 $ Attrition_Flag                                                                                                                    : chr  "Existing Customer" "Existing Customer" "Existing Customer" "Existing Customer" ...
 $ Customer_Age                                                                                                                      : int  45 49 51 40 40 44 51 32 37 48 ...
 $ Gender                                                                                                                            : chr  "M" "F" "M" "F" ...
 $ Dependent_count                                                                                                                   : int  3 5 3 4 3 2 4 0 3 2 ...
 $ Education_Level                                                                                                                   : chr  "High School" "Graduate" "Graduate" "High School" ...
 $ Marital_Status                                                                                                                    : chr  "Married" "Single" "Married" "Unknown" ...
 $ Income_Category                                                                                                                   : chr  "$60K - $80K" "Less than $40K" "$80K - $120K" "Less than $40K" ...
 $ Card_Category                                                                                                                     : chr  "Blue" "Blue" "Blue" "Blue" ...
 $ Months_on_book                                                                                                                    : int  39 44 36 34 21 36 46 27 36 36 ...
 $ Total_Relationship_Count                                                                                                          : int  5 6 4 3 5 3 6 2 5 6 ...
 $ Months_Inactive_12_mon                                                                                                            : int  1 1 1 4 1 1 1 2 2 3 ...
 $ Contacts_Count_12_mon                                                                                                             : int  3 2 0 1 0 2 3 2 0 3 ...
 $ Credit_Limit                                                                                                                      : num  12691 8256 3418 3313 4716 ...
 $ Total_Revolving_Bal                                                                                                               : int  777 864 0 2517 0 1247 2264 1396 2517 1677 ...
 $ Avg_Open_To_Buy                                                                                                                   : num  11914 7392 3418 796 4716 ...
 $ Total_Amt_Chng_Q4_Q1                                                                                                              : num  1.33 1.54 2.59 1.41 2.17 ...
 $ Total_Trans_Amt                                                                                                                   : int  1144 1291 1887 1171 816 1088 1330 1538 1350 1441 ...
 $ Total_Trans_Ct                                                                                                                    : int  42 33 20 20 28 24 31 36 24 32 ...
 $ Total_Ct_Chng_Q4_Q1                                                                                                               : num  1.62 3.71 2.33 2.33 2.5 ...
 $ Avg_Utilization_Ratio                                                                                                             : num  0.061 0.105 0 0.76 0 0.311 0.066 0.048 0.113 0.144 ...
 $ Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1: num  9.34e-05 5.69e-05 2.11e-05 1.34e-04 2.17e-05 ...
 $ Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2: num  1 1 1 1 1 ...

Menampilkan 8 baris pertama dari dataset

In [ ]:
head(bank_data,8)

Menampilkan 8 baris terakhir dari dataset

In [ ]:
tail(bank_data,8)

Menampilkan jumlah data yang hilang

In [ ]:
colSums(is.na(bank_data))


*Kita bisa lihat bahwa tidak ada data yang hilang di dataset*

---

Hitung deskripsi statistik

In [ ]:
summary(bank_data)

Penjelasan: