<a href="https://colab.research.google.com/github/dioapw/TUBES_STATISTIKA_DATA/blob/main/TUBES_STATISTIKA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TUBES STATISTIKA**

Deskripsi masalah tentang data : (https://www.kaggle.com/sakshigoyal7/credit-card-customers)

Manager suatu bank ingin mendapat gambaran tentang karakteristik pemegang kartu kredit yang mereka terbitkan, berdasarkan data berisi fitur-fitur pemegang kartu kredit (kolom A-U) dan peluang pemegang kartu kredit berpindah ke bank lain (kolom V dan W). 

Sekarang, kumpulan data ini terdiri dari 10.000 pelanggan yang menyebutkan usia, gaji, status_kawinan, batas kartu kredit, kategori kartu kredit, dll. Ada hampir 18 fitur.

Lakukan eksplorasi menggunakan metode yang sudah dipelajari untuk mendapatkan informasi yang akan anda presentasikan kepada manager bank.

Anggota Kelompok:
*   Dio Aditya Putra Wardhono (1301194290)
*   Yusril Ramadhan (1301194075)
*   Rafly Ahmad Yanuar (1301194119)
*   List item

## **Memuat File CSV**

Import Library

In [ ]:
library (readr)

Muat file CSV dari GitHub repository

In [ ]:
dataset_urlfile ="https://raw.githubusercontent.com/dioapw/TUBES_STATISTIKA_DATA/main/BankChurners.csv"

Muat file CSV ke variabel "bank_data"

In [ ]:
bank_data <- read.csv(url(dataset_urlfile))

## **Penjelasan Tentang Dataset**

*Sebelum kita melakukan eksplorasi dari dataset ini serta menganalisisnya, kita akan mencari tahu lebih dalam mengenai data-data yang ada di dataset ini.*

**1. Menampilkan jumlah kolom dalam dataset**

*Pertama, kita akan melihat berapa jumlah kolom dalam dataset ini.*

In [ ]:
ncol(bank_data)

[1] 23

**2. Menampilkan jumlah baris dalam dataset**

*Kedua, kita akan melihat berapa jumlah baris yang ada di dataset ini.*

In [11]:
nrow(bank_data)

[1] 10127

**3. Daftar nama variabel dalam dataset**

*Ketiga, kita akan mencari tahu nama-nama variabel yang ada di dataset ini.*

In [17]:
names(bank_data)

 [1] "CLIENTNUM"
 [2] "Attrition_Flag"
 [3] "Customer_Age"
 [4] "Gender"
 [5] "Dependent_count"
 [6] "Education_Level"
 [7] "Marital_Status"
 [8] "Income_Category"
 [9] "Card_Category"
[10] "Months_on_book"
[11] "Total_Relationship_Count"
[12] "Months_Inactive_12_mon"
[13] "Contacts_Count_12_mon"
[14] "Credit_Limit"
[15] "Total_Revolving_Bal"
[16] "Avg_Open_To_Buy"
[17] "Total_Amt_Chng_Q4_Q1"
[18] "Total_Trans_Amt"
[19] "Total_Trans_Ct"
[20] "Total_Ct_Chng_Q4_Q1"
[21] "Avg_Utilization_Ratio"
[22] "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1"
[23] "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2"

*Penjelasan:*
* *CLIENTNUM = Nomor klien. Pengenal unik untuk pelanggan yang memegang akun*
* *Attrition_Flag = Variabel peristiwa internal (aktivitas pelanggan) - jika akun ditutup maka 1 lainnya 0*
* *Customer_Age = Variabel demografis - Usia Pelanggan dalam Tahun*
* *Gender = Variabel demografis - M = Pria, F = Wanita*
* *Dependent_count = Variabel demografis - Jumlah tanggungan*
* *Education_Level = Variabel demografis - Kualifikasi Pendidikan pemegang akun (contoh: sekolah menengah, lulusan perguruan tinggi, dll.)*
* *Marital_Status = Variabel demografis - Menikah, Lajang, Bercerai, Tidak Diketahui*
* *Income_Category = Variabel demografis - Kategori Pendapatan Tahunan pemegang akun (<$ 40K, $ 40K - 60K, $ 60K - $ 80K, $ 80K- $ 120K,> $ 120K, Tidak Diketahui)*
* *Card_Category = Variabel Produk - Jenis Kartu (Biru, Perak, Emas, Platinum)*
* *Months_on_book = Jangka waktu hubungan dengan bank*
* *Total_Relationship_Count = Jumlah total produk yang dipegang oleh pelanggan*
* *Months_Inactive_12_mon = Jumlah bulan tidak aktif dalam 12 bulan terakhir*
* *Contacts_Count_12_mon = Jumlah Kontak dalam 12 bulan terakhir*
* *Credit_Limit = Limit Kredit pada Kartu Kredit*
* *Total_Revolving_Bal = Total Saldo Bergulir pada Kartu Kredit*
* *Avg_Open_To_Buy = Open to Buy Credit Line (Rata-rata 12 bulan terakhir)*
* *Total_Amt_Chng_Q4_Q1 = Perubahan Jumlah Transaksi (Q4 sampai Q1)*
* *Total_Trans_Amt = Jumlah Transaksi Total (12 bulan terakhir)*
* *Total_Trans_Ct = Jumlah Transaksi Total (12 bulan terakhir)*
* *Total_Ct_Chng_Q4_Q1 = Perubahan Hitungan Transaksi (Q4 sampai Q1)*
* *Avg_Utilization_Ratio = Rasio Penggunaan Kartu Rata-rata*
* *Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1 = Naive Bayes*
* *Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2 = Naive Bayes*

**4. Menampilkan struktur dataset**

*Keempat, kita akan mencari tahu bagaimana struktur data dalam dataset ini.*

In [13]:
str(bank_data)

'data.frame':	10127 obs. of  23 variables:
 $ CLIENTNUM                                                                                                                         : int  768805383 818770008 713982108 769911858 709106358 713061558 810347208 818906208 710930508 719661558 ...
 $ Attrition_Flag                                                                                                                    : chr  "Existing Customer" "Existing Customer" "Existing Customer" "Existing Customer" ...
 $ Customer_Age                                                                                                                      : int  45 49 51 40 40 44 51 32 37 48 ...
 $ Gender                                                                                                                            : chr  "M" "F" "M" "F" ...
 $ Dependent_count                                                                                                                   : int  3 5 3 4 3 2 4 0 3 2 ...
 $ Education_Level                                                                                                                   : chr  "High School" "Graduate" "Graduate" "High School" ...
 $ Marital_Status                                                                                                                    : chr  "Married" "Single" "Married" "Unknown" ...
 $ Income_Category                                                                                                                   : chr  "$60K - $80K" "Less than $40K" "$80K - $120K" "Less than $40K" ...
 $ Card_Category                                                                                                                     : chr  "Blue" "Blue" "Blue" "Blue" ...
 $ Months_on_book                                                                                                                    : int  39 44 36 34 21 36 46 27 36 36 ...
 $ Total_Relationship_Count                                                                                                          : int  5 6 4 3 5 3 6 2 5 6 ...
 $ Months_Inactive_12_mon                                                                                                            : int  1 1 1 4 1 1 1 2 2 3 ...
 $ Contacts_Count_12_mon                                                                                                             : int  3 2 0 1 0 2 3 2 0 3 ...
 $ Credit_Limit                                                                                                                      : num  12691 8256 3418 3313 4716 ...
 $ Total_Revolving_Bal                                                                                                               : int  777 864 0 2517 0 1247 2264 1396 2517 1677 ...
 $ Avg_Open_To_Buy                                                                                                                   : num  11914 7392 3418 796 4716 ...
 $ Total_Amt_Chng_Q4_Q1                                                                                                              : num  1.33 1.54 2.59 1.41 2.17 ...
 $ Total_Trans_Amt                                                                                                                   : int  1144 1291 1887 1171 816 1088 1330 1538 1350 1441 ...
 $ Total_Trans_Ct                                                                                                                    : int  42 33 20 20 28 24 31 36 24 32 ...
 $ Total_Ct_Chng_Q4_Q1                                                                                                               : num  1.62 3.71 2.33 2.33 2.5 ...
 $ Avg_Utilization_Ratio                                                                                                             : num  0.061 0.105 0 0.76 0 0.311 0.066 0.048 0.113 0.144 ...
 $ Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1: num  9.34e-05 5.69e-05 2.11e-05 1.34e-04 2.17e-05 ...
 $ Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2: num  1 1 1 1 1 ...

*Dapat kita lihat bahwa terdapat 3 tipe data yang ada di dataset ini, yaitu: integer, character dan number.Kita juga dapat melihat terdapat beberapa variabel yang termasuk dalam data nominal, ordinal, interval dan rasio,*

*seperti: Gender = nominal, Card_Category = ordinal, Credit_Limit = interval, Total_Trans_Amt = rasio, dll.*

**5. Menampilkan 8 baris pertama dari dataset**

*Kelima, kita akan melihat 8 baris pertama dari dataset ini agar kita dapat mengetahui gambaran awal mengenai dataset ini.*

In [14]:
head(bank_data,8)

  CLIENTNUM Attrition_Flag    Customer_Age Gender Dependent_count
1 768805383 Existing Customer 45           M      3
2 818770008 Existing Customer 49           F      5
3 713982108 Existing Customer 51           M      3
4 769911858 Existing Customer 40           F      4
5 709106358 Existing Customer 40           M      3
6 713061558 Existing Customer 44           M      2
7 810347208 Existing Customer 51           M      4
8 818906208 Existing Customer 32           M      0
  Education_Level Marital_Status Income_Category Card_Category Months_on_book ⋯
1 High School     Married        $60K - $80K     Blue          39             ⋯
2 Graduate        Single         Less than $40K  Blue          44             ⋯
3 Graduate        Married        $80K - $120K    Blue          36             ⋯
4 High School     Unknown        Less than $40K  Blue          34             ⋯
5 Uneducated      Married        $60K - $80K     Blue          21             ⋯
6 Graduate        Married        $40K - $60K     Blue          36             ⋯
7 Unknown         Married        $120K +         Gold          46             ⋯
8 High School     Unknown        $60K - $80K     Silver        27             ⋯
  Credit_Limit Total_Revolving_Bal Avg_Open_To_Buy Total_Amt_Chng_Q4_Q1
1 12691         777                11914           1.335
2  8256         864                 7392           1.541
3  3418           0                 3418           2.594
4  3313        2517                  796           1.405
5  4716           0                 4716           2.175
6  4010        1247                 2763           1.376
7 34516        2264                32252           1.975
8 29081        1396                27685           2.204
  Total_Trans_Amt Total_Trans_Ct Total_Ct_Chng_Q4_Q1 Avg_Utilization_Ratio
1 1144            42             1.625               0.061
2 1291            33             3.714               0.105
3 1887            20             2.333               0.000
4 1171            20             2.333               0.760
5  816            28             2.500               0.000
6 1088            24             0.846               0.311
7 1330            31             0.722               0.066
8 1538            36             0.714               0.048
  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1
1 0.00009340
2 0.00005690
3 0.00002110
4 0.00013366
5 0.00002170
6 0.00005510
7 0.00012303
8 0.00008580
  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
1 0.99991
2 0.99994
3 0.99998
4 0.99987
5 0.99998
6 0.99994
7 0.99988
8 0.99991

**6. Menampilkan 8 baris terakhir dari dataset**

*Keenam, kita akan melihat 8 baris terakhir dari dataset agar kita dapat mengetahui apakah ada perbedaan dari 8 baris pertama yang sebelumnya kita lihat.*

In [16]:
tail(bank_data,8)

      CLIENTNUM Attrition_Flag    Customer_Age Gender Dependent_count
10120 716893683 Attrited Customer 55           F      3
10121 710841183 Existing Customer 54           M      1
10122 713899383 Existing Customer 56           F      1
10123 772366833 Existing Customer 50           M      2
10124 710638233 Attrited Customer 41           M      2
10125 716506083 Attrited Customer 44           F      1
10126 717406983 Attrited Customer 30           M      2
10127 714337233 Attrited Customer 43           F      2
      Education_Level Marital_Status Income_Category Card_Category
10120 Uneducated      Single         Unknown         Blue
10121 High School     Single         $60K - $80K     Blue
10122 Graduate        Single         Less than $40K  Blue
10123 Graduate        Single         $40K - $60K     Blue
10124 Unknown         Divorced       $40K - $60K     Blue
10125 High School     Married        Less than $40K  Blue
10126 Graduate        Unknown        $40K - $60K     Blue
10127 Graduate        Married        Less than $40K  Silver
      Months_on_book ⋯ Credit_Limit Total_Revolving_Bal Avg_Open_To_Buy
10120 47             ⋯ 14657        2517                12140
10121 34             ⋯ 13940        2109                11831
10122 50             ⋯  3688         606                 3082
10123 40             ⋯  4003        1851                 2152
10124 25             ⋯  4277        2186                 2091
10125 36             ⋯  5409           0                 5409
10126 36             ⋯  5281           0                 5281
10127 25             ⋯ 10388        1961                 8427
      Total_Amt_Chng_Q4_Q1 Total_Trans_Amt Total_Trans_Ct Total_Ct_Chng_Q4_Q1
10120 0.166                 6009            53            0.514
10121 0.660                15577           114            0.754
10122 0.570                14596           120            0.791
10123 0.703                15476           117            0.857
10124 0.804                 8764            69            0.683
10125 0.819                10291            60            0.818
10126 0.535                 8395            62            0.722
10127 0.703                10294            61            0.649
      Avg_Utilization_Ratio
10120 0.172
10121 0.151
10122 0.164
10123 0.462
10124 0.511
10125 0.000
10126 0.000
10127 0.189
      Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1
10120 0.99691000
10121 0.00003830
10122 0.00014834
10123 0.00019143
10124 0.99527000
10125 0.99788000
10126 0.99671000
10127 0.99662000
      Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
10120 0.00308778
10121 0.99996000
10122 0.99985000
10123 0.99981000
10124 0.00472896
10125 0.00211827
10126 0.00329379
10127 0.00337654

*Dapat dilihat bahwa data dari 8 baris pertama dengan 8 baris terakhir tidak berbeda, variabel masih terisi semua.*

**7. Menampilkan jumlah data yang hilang**

In [18]:
colSums(is.na(bank_data))

                                                                                                                         CLIENTNUM
                                                                                                                                 0
                                                                                                                    Attrition_Flag
                                                                                                                                 0
                                                                                                                      Customer_Age
                                                                                                                                 0
                                                                                                                            Gender
                                                                                                                                 0
                                                                                                                   Dependent_count
                                                                                                                                 0
                                                                                                                   Education_Level
                                                                                                                                 0
                                                                                                                    Marital_Status
                                                                                                                                 0
                                                                                                                   Income_Category
                                                                                                                                 0
                                                                                                                     Card_Category
                                                                                                                                 0
                                                                                                                    Months_on_book
                                                                                                                                 0
                                                                                                          Total_Relationship_Count
                                                                                                                                 0
                                                                                                            Months_Inactive_12_mon
                                                                                                                                 0
                                                                                                             Contacts_Count_12_mon
                                                                                                                                 0
                                                                                                                      Credit_Limit
                                                                                                                                 0
                                                                                                               Total_Revolving_Bal
                                                                                                                                 0
                                                                                                                   Avg_Open_To_Buy
                                                                                                                                 0
                                                                                                              Total_Amt_Chng_Q4_Q1
                                                                                                                                 0
                                                                                                                   Total_Trans_Amt
                                                                                                                                 0
                                                                                                                    Total_Trans_Ct
                                                                                                                                 0
                                                                                                               Total_Ct_Chng_Q4_Q1
                                                                                                                                 0
                                                                                                             Avg_Utilization_Ratio
                                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1
                                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
                                                                                                                                 0

*Kita bisa lihat bahwa tidak ada data yang hilang di dalam variabel dataset ini atau dapat dikatakan semua variabel memiliki data yang valid.*

**8. Hitung deskripsi statistik**

In [33]:
data.frame(unclass(summary(bank_data)))

    X..CLIENTNUM        Attrition_Flag     X.Customer_Age  X...Gender
X   Min.   :708082083   Length:10127       Min.   :26.00   Length:10127
X.1 1st Qu.:713036770   Class :character   1st Qu.:41.00   Class :character
X.2 Median :717926358   Mode  :character   Median :46.00   Mode  :character
X.3 Mean   :739177606   NA                 Mean   :46.33   NA
X.4 3rd Qu.:773143533   NA                 3rd Qu.:52.00   NA
X.5 Max.   :828343083   NA                 Max.   :73.00   NA
    Dependent_count Education_Level    Marital_Status     Income_Category
X   Min.   :0.000   Length:10127       Length:10127       Length:10127
X.1 1st Qu.:1.000   Class :character   Class :character   Class :character
X.2 Median :2.000   Mode  :character   Mode  :character   Mode  :character
X.3 Mean   :2.346   NA                 NA                 NA
X.4 3rd Qu.:3.000   NA                 NA                 NA
X.5 Max.   :5.000   NA                 NA                 NA
    Card_Category      Months_on_book  ⋯ X.Credit_Limit  Total_Revolving_Bal
X   Length:10127       Min.   :13.00   ⋯ Min.   : 1438   Min.   :   0
X.1 Class :character   1st Qu.:31.00   ⋯ 1st Qu.: 2555   1st Qu.: 359
X.2 Mode  :character   Median :36.00   ⋯ Median : 4549   Median :1276
X.3 NA                 Mean   :35.93   ⋯ Mean   : 8632   Mean   :1163
X.4 NA                 3rd Qu.:40.00   ⋯ 3rd Qu.:11068   3rd Qu.:1784
X.5 NA                 Max.   :56.00   ⋯ Max.   :34516   Max.   :2517
    Avg_Open_To_Buy Total_Amt_Chng_Q4_Q1 Total_Trans_Amt Total_Trans_Ct
X   Min.   :    3   Min.   :0.0000       Min.   :  510   Min.   : 10.00
X.1 1st Qu.: 1324   1st Qu.:0.6310       1st Qu.: 2156   1st Qu.: 45.00
X.2 Median : 3474   Median :0.7360       Median : 3899   Median : 67.00
X.3 Mean   : 7469   Mean   :0.7599       Mean   : 4404   Mean   : 64.86
X.4 3rd Qu.: 9859   3rd Qu.:0.8590       3rd Qu.: 4741   3rd Qu.: 81.00
X.5 Max.   :34516   Max.   :3.3970       Max.   :18484   Max.   :139.00
    Total_Ct_Chng_Q4_Q1 Avg_Utilization_Ratio
X   Min.   :0.0000      Min.   :0.0000
X.1 1st Qu.:0.5820      1st Qu.:0.0230
X.2 Median :0.7020      Median :0.1760
X.3 Mean   :0.7122      Mean   :0.2749
X.4 3rd Qu.:0.8180      3rd Qu.:0.5030
X.5 Max.   :3.7140      Max.   :0.9990
    Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1
X   Min.   :0.0000077
X.1 1st Qu.:0.0000990
X.2 Median :0.0001815
X.3 Mean   :0.1599975
X.4 3rd Qu.:0.0003373
X.5 Max.   :0.9995800
    Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
X   Min.   :0.00042
X.1 1st Qu.:0.99966
X.2 Median :0.99982
X.3 Mean   :0.84000
X.4 3rd Qu.:0.99990
X.5 Max.   :0.99999